@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Unbounded:wght@200&display=swap');


body {
    font-family: 'Noto Sans', sans-serif;
}

#review-value {
    width: 50%;
    height: calc(2.25rem + 2px);
    padding: 2px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.review-item {
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    padding: 10px;
    border: 1px solid #B57575;
    border-radius: 10px;
    margin-top: 10px;
    width: 80%;
}

.submit-btn {
    margin-left: 30px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    background-color: #91859e;
    color: #ffffff;
    border: none;
    border-radius: 10px;
}