
.comb-img {
    width: 300px;
}

.combinations {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.combination {
    text-align: center;
}

@media screen and (max-width: 1000px) {
    .combinations {
        grid-template-columns: 1fr;
    }
}