@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Unbounded:wght@200&display=swap');
body {
    margin: 0;
    background: #F5F5F5;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 70px;
    background-color: #B57575;
    align-items: center;
    display: flex;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header a {
    font-family: 'Unbounded', cursive;
    font-weight: 100;
    font-size: 30px;
    color: #FFFFFF;
    text-decoration: none;
    margin: 0;

}

.header img {
    height: 80%;
    padding-left: 30px;
    padding-right: 20px;
}

.navigation {
    align-self: end;
    display: flex;
    box-shadow: -2px 4px 6px rgba(0, 0, 0, 0.25);
}

.navigation .navigation__item {
    font-family: 'Unbounded', cursive;
    font-size: 20px;
    color: #F5F5F5;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    background: #B57575;
}

main {
    padding:80px 30px 30px 30px;
    margin-left: 100px;
    background-color: #FFFFFF;

    min-height: 100vh;
    width: 60%;

    box-shadow: 0px 4px 57px -20px rgba(0, 0, 0, 0.25);
}

h2 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 25px;
}

h3 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
}

footer {
    margin-top: 30px;
    margin-left: 100px;

    font-family: 'Unbounded', cursive;
    font-size: 15px;
    color: #777;
}